/* basic styles which style the whole page using the universial selector*/
* {
   padding: 0;
   margin: 0;
}

/* For the whole body background color and margin for the whole website */
body {
   margin: 4%;
   background: linear-gradient(135deg, #1E3C72, #2A5298, #6DD5ED);
}

/* This is the css style for the main container which contains all of the content inside of it */
.main-container {
   color: #F8FAFC;
   border: none;
   border-radius: 30px;
   padding: 20px;
   height: auto;
   width: 60%;
   margin-top: 50px;
   margin-left: auto;
   margin-right: auto;
   background: rgba(255, 255, 255, 0.1);
   backdrop-filter: blur(14px);
   border: 1px solid rgba(255, 255, 255, 0.25);
}

/* For the main container header which holds all the content of the nav bar */
.main-container-header {
   margin: 10px;
   padding: 10px;
   background: rgba(255, 255, 255, 0.1);
   backdrop-filter: blur(14px);
   border: 1px solid rgba(255, 255, 255, 0.25);
   border-radius: 30px;
}

/* For the Navigation or location search section */
#nav-bar {
   display: inline;
   padding: 20px;
}

/* for the navigation bar icon  */
#nav-bar .icon {
   width: 30px;
   height: 30px;
   font-size: 20px;
}

/* for the navigation bar location  */
#nav-bar h3 {
   display: inline;
   font-size: 24px;
   font-weight: bold;
}

/* for the navigation bar as whole  */
#search-bar {
   display: inline;
   gap: 10px;
   margin-left: 20px;
   float: right;
}

/* for the navigation bar input tag  */
#search-bar input {
   padding: 5px;
   border-radius: 24px;
   border: 1px solid rgba(255, 255, 255, 0.25);
   background-color: rgba(195, 187, 187, 0.1);
}

/* for the navigation bar input tags placeholder which hold the input  */
#search-bar input::placeholder {
   color: white;
   border-color: 1px solid black;
}

/* for the navigation bar Button  */
#search-bar button {
   padding: 5px 10px;
   border-radius: 30px;
   border: 1px solid rgba(255, 255, 255, 0.25);
   cursor: pointer;
   background-color: rgba(195, 187, 187, 0.1);
   color: white;
}

/* for the navigation bar Button hover effect */
#search-bar button:hover {
   background-color: black;
   color: white;
}

/* for the main content section of the subinformation */
#main-content {
   display: flex;
   flex-direction: row;
   background: rgba(195, 187, 187, 0.1);
   backdrop-filter: blur(14px);
   border: 1px solid rgba(255, 255, 255, 0.25);
   border-radius: 24px;
   margin: 10px;
   padding: 10px;
}

/* This container contains the main thing */
#container {
   display: flex;
   flex-direction: column;
   background: rgba(255, 255, 255, 0.1);
   backdrop-filter: blur(14px);
   border: 1px solid rgba(255, 255, 255, 0.25);
   border-radius: 24px;
   margin: 10px;
   padding: 10px;
   width: 75%;
}

/* this style is for the things like location , condition and card  */
.sub-container {
   display: flex;
   border: 1px solid rgba(255, 255, 255, 0.25);
   border-radius: 24px;
   margin: 10px;
   padding: 10px;
}

/* this style is for the things like location and condition*/
.weather-subinfo {
   background: rgba(255, 255, 255, 0.15);
   backdrop-filter: blur(14px);
   border: 1px solid rgba(255, 255, 255, 0.25);
   width: 500px;
   margin: 10px;
   padding: 100px 100px;
   border-radius: 24px;
}

/* this style is for the contains of the card  */
#card {
   margin: 10px;
   padding: 50px ;
   display: flex;
   flex-direction: column;
   justify-content: center;
   border-radius: 20px;
   background: rgba(255, 255, 255, 0.15);
   backdrop-filter: blur(14px);
   border: 1px solid rgba(255, 255, 255, 0.25);
}

/* this style is the the card icons  */
#card i {
   font-size: 50px;
   color: white;
}

/* this style is for the side bar  */
#weather-info {
   margin: 5px;
   padding: 10px;
   display: flex;
   flex-direction: column;
   background: rgba(255, 255, 255, 0.15);
   backdrop-filter: blur(14px);
   border: 1px solid rgba(255, 255, 255, 0.25);
   border-radius: 24px;
}

/* this style is for the side bar cards */
.weather-info-card {
   background: rgba(255, 255, 255, 0.15);
   backdrop-filter: blur(14px);
   border: 1px solid rgba(255, 255, 255, 0.25);
   border-radius: 24px;
   margin: 10px;
   padding: 10px;
}

/* this style is for the side bar cards hover effect  */
.weather-info-card:hover {
   background: rgba(255, 255, 255, 0.50);
   color: black;
}

/* this style is for the footer text  */
.footer-text {
   text-align: center;
   margin-top: 20px;
}